/* Global styles
/* ============================== */

body {
	color: #5a5a5a;
}

.page-width {
	width: 1024px !important;
}

.no-border {
	border: 0 !important;
}

.center {
	text-align: center;
}

.force-center {
	width: 100%;
	text-align: center;
}

section {
	padding-bottom: 50px;
}


/* Top navbar styles
/* ============================== */

.header-icon {
	height: 25px;
	margin-right: 15px;
	margin-top: 11px;
}

/* Left menu styles
/* ============================== */

.left-menu.affix,
.left-menu.affix-bottom {
	position: fixed;
	top: 25px;
}

/* Quick info styles
/* ============================== */

.quick-info {
	padding-top: 15px;
}

.quick-info div.well {
	height: 175px;
	background: #FFE0C2;
}

.quick-info div h3, .quick-info div h1 {
    text-align: center;
}

/* Page body styles
/* ============================== */

.ajax-loader {
    position: absolute;
    top: 60px;
    left: 10px;
    z-index: 99;
    padding: 10px 20px;
}

/* Modules styles
/* ============================== */

.module {
	min-height: 320px !important;
}

.module h3 {
	text-align: center;
}


.no-border tr td {
	border: 0 !important;
}

.statbox-table-small tr td span.label {
	float: right;
}

.sort-button {
    cursor: pointer;
    background-image: url("../img/misc/sort/bg.gif");
    background-repeat: no-repeat;
    background-position: center right;
    padding-right: 16px !important;
}

.sort-button.desc {
    background-image: url("../img/misc/sort/desc.gif");
}

.sort-button.asc {
    background-image: url("../img/misc/sort/asc.gif");
}

.online-players {
    height: 228px;
    overflow-y: auto;
}

.online-player-heads {
    float: left;
    margin: 1px;
}

/* Custom module styles
/* ============================== */

table.table-vcenter tr td {
	vertical-align: middle;
}

#playersTable tr td img {
	margin-right: 5px;
}


/* Footer styles
/* ============================== */

.footer-block {
	padding-top: 100px;
	margin: 0 auto;
}

/* Bootstrap styles
/* ============================== */
.alert p {
    margin: 0;
}

.force-right {
    text-align: right;
}

.grid {
    min-height: 30px;
    margin-top: 35px;
    margin-left: 5px;
}

.pagination {
    margin: 10px 0;
}

/* Miscellaneous styles
/* ============================== */

.no-img, .grid-img {
    padding: 11px 10px;
    min-width: 28px;
    text-align: center;
    margin-right: 5px;
}
 
.grid-img {
	padding: 11px 0 12px 5px;
}

.col-wrap-320 div.well {
    height: 320px;
}

.col-wrap-220 div.well {
    height: 220px;
}

/* Player page styles
/* ============================== */

.bar-container {
    position: relative;
    width: 365px;
}

.player-armor {
    width: 44px;
    height: 170px;
    padding-top: 12px;
    padding-left: 7px;
    margin: 5px 0;
    background-image: url("../img/misc/inv-armor.png");
    background-repeat: no-repeat;
}

.player-inv {
    width: 348px;
    height: 170px;
    padding-top: 6px;
    margin: 5px 0;
    background-image: url("../img/misc/inv-bg.png");
    background-repeat: no-repeat;
}

.player-inv-row, .player-inv-hotbar {
    width: 324px;
    height: 36px;
    margin-left: 12px;
    overflow: hidden;
}

.player-inv-hotbar {
    margin-top: 6px;
}

.inv-row-item, .inv-row-item-armor {
    position: relative;
    width: 30px;
    height: 30px;
    margin: 3px;
    float: left;
}

.inv-row-item-armor {
    float: none;
    padding-top: 3px;
}

.row-item-amount {
    position: absolute;
    bottom: -1px;
    right: -1px;
    color: #fff;
    font-size: 10px;
    line-height: 10px;
    cursor: default;
    text-shadow: 0 1px 1px #232323;
}

.row-item-durability {
    position: absolute;
    bottom: 1px;
    left: 1px;
    height: 3px;
    width: 28px;
    background-color: #0e0e0e;
    box-shadow: 0 1px 1px #232323;
    overflow: hidden;
}

.row-item-durability-bar {
    height: 3px;
    width: 0px;
}

.row-item-durability-bar.good {
    background-color: #069e14;
}

.row-item-durability-bar.medium {
    background-color: #e8791f;
}

.row-item-durability-bar.bad {
    background-color: #c00f00;
}

.row-item-durability-bar.critical {
    background-color: #3f1f0a;
}

.player-effects {
    position: absolute;
    bottom: 5px;
    right: 0;
    width: 230px;
}

.player-effect {
    margin-right: 1px;
}

.heart-bar img, .hunger-bar img, .armor-bar img {
    height: 14px;
    width: 14px;
    padding-right: 1px;
    float: left;
}

.hunger-bar img {
    float: right;
}

.armor-bar {
    margin-bottom: 5px;
}
 
.xpbar-container {
	position: relative;
	height: 10px;
	width: 100%;
    margin-top: 10px;
	background-image: url("../img/misc/xpbar-bg.png");
	background-position: top left;
	background-repeat: no-repeat;
}
 
.xpbar-cur {
	position: absolute;
	bottom: 17px;
	text-align: center;
	width: 100%;
	font-weight: bold;
	color: #51a351;
}
 
.xpbar {
	height: 10px;
	background-image: url("../img/misc/xpbar-full.png");
	background-repeat: no-repeat;
	background-position: top left;
}

.player-top-left-info-label {
    float: left;
    margin: 0 0 0 5px;
}

.player-top-left-info {
    position: absolute;
    top: 10px;
    left: 5px;
    z-index: 1;
}

.player-top-right-info-label {
    float: left;
    margin: 0 0 0 5px;
}

.player-top-right-info {
    position: absolute;
    top: 10px;
    right: 5px;
    z-index: 1;
}

.player-trophy {
	position: relative;
	top:30px;
}

.player-trophy img {
	width: 64px !important;
	height: 64px !important;
}